.details-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
  }
  
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: relative;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #f9a692;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .icon {
    font-size: 24px;
  }
  
  .icon-container.active {
    width: 250px;
    justify-content: flex-start;
    border-radius: 25px;
    padding: 10px;
  }
  
  .icon-container.active .icon {
    margin-left: 10px;
  }
  
  .details-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 180px;
    padding: 10px;
    background-color: #f9a692;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
  }
  
  .details-panel p {
    margin: 2px 0;
    font-size: 15px;
  }
  
  
  .details-panel .contact,
  .details-panel .time,
  .details-panel .date {
    font-size: 10px; /* Smaller size for contact, time, and date */
  }
  
  .icon-container:not(.active) .details-panel {
    display: none;
  }
  