.chatbot-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1001;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.chatbot-open {
  transform: scale(1);
}

.chatbot-closed {
  transform: scale(0);
}

.chatbot-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbot-close-button {
  cursor: pointer;
  font-size: 20px;
}

.chatbot-online-dot {
  width: 10px;
  height: 10px;
  background-color: #0f0;
  border-radius: 50%;
  margin-left: 10px;
}

.chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chatbot-message-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.chatbot-bot {
  align-self: flex-start;
}

.chatbot-user {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.chatbot-message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 15px;
  max-width: 80%;
  animation: fadeIn 0.5s;
}

.chatbot-user .chatbot-message {
  background-color: #dcf8c6;
  text-align: right;
}

.chatbot-bot .chatbot-message {
  background-color: #f1f1f1;
  text-align: left;
}

.chatbot-icon {
  margin: 0 10px 20px 0;
}

.chatbot-text {
  padding: 5px 10px;
}

.chatbot-input-container {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.chatbot-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  border: 1px solid #dddddd;
}

.chatbot-send {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px 10px 20px 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}